
<div class="social-button-wrapper">
  <div class="row max-w-365">
    <div class="button-social facebook-btn">
      <a href="https://www.facebook.com/v2.9/dialog/oauth?client_id=293526394433844&redirect_uri={{oauth_redirect_uri}}&response_type=token"><i class="icon"></i> Facebook</a>
    </div>
    <div class="button-social twitter-btn">
      <a href="https://saffrondab.herokuapp.com/auth/twitter/login"><i class="icon"></i> Twitter</a>
    </div>
  </div>

  <div class="row max-w-365">
    <div class="button-social google-btn">
      <a href="https://saffrondab.herokuapp.com/auth/google/login"><i class="icon"></i> Google</a>
    </div>
    <div class="button-social linkedin-btn">
      <a href="https://saffrondab.herokuapp.com/auth/linkedin/login"><i class="icon"></i> Linkedin</a>
    </div>
  </div>

  <div class="row max-w-365">
    <div class="button-social paypal-btn">
      <a href="https://saffrondab.herokuapp.com/auth/paypal/login"><i class="icon"></i> PayPal</a>
    </div>
    <div class="button-social angellist-btn">
      <a href=""><i class="icon"></i> AngelList</a>
    </div>
  </div>
  <div class="row max-w-365">
  <div class="button-social snapchat-btn">
    <a href=""><i class="icon"></i> Snapchat</a>
  </div>
  </div>
</div>
